canvas{
    display: block;
    margin: 0 1em;
    z-index: 1;
}
@media screen and (max-width: 1360px) {
    canvas{
        position: fixed;
        display: block;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

@media screen and (max-width: 740px) {
    canvas{
        width: 600px;
    }
}

@media screen and (max-width: 480px) {
    canvas{
        width: 380px;
    }
}