.container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
    .cover {
    width: 70%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background-color: #161b22;
  }
  
  button {
    margin-top: 20px !important;
    background: #00ced1 !important
  }
  p {
    float: right;
  }
  .ui.form .field>label {
    color: #fff;
}
.log{
    display: flex;
    align-items: center;
    justify-content: center;
}
.uix{
  color: white!important;
  width: 200px;
  height: 30px;
}
@media screen and (max-width: 480px) {
  .field input{
    width: 90%;
  }
  .ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url] {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    background: #fff;
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: none;
    transition: none
}
}




