.container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
    .cover {
    width: 70%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background-color: #161b22;
  }
  
  button {
    margin-top: 20px !important;
    background: #00ced1 !important
  }
  p {
    float: right;
  }
  .ui.form .field>label {
    color: #fff;
}
.log{
    display: flex;
    align-items: center;
    justify-content: center;
}
.uix{
  color: white!important;
  width: 200px;
  height: 30px;
}
@media screen and (max-width: 480px) {
  .ui.form .field.field input:-webkit-autofill {
    border-color: #00ced1! important;
    touch-action: none;
}
}




