.table {
  max-height: 620px;
  color: #00ced1;
  box-shadow: 0px 0px 2px 2px #00ced1;
  border-radius: 5px;
  position: absolute;
  top: 5em;
  right: 1em;
  width: 480px; /* adjust as needed */
  height: 100%;
}
.custom-tog {
  width: 480px;
  height: 50px;
  border-radius: 5px;
}
.custom-slider-container {
  margin: 5px auto;
  display: flex;
  align-items: center;
}

.slid {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  width: 350px;
  height: 30px;
  border: none;
}

.slid-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #282621;
}

.le {
  left: 10px;
}

.onn {
  position: absolute;
  font-size: 13px;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  transition: opacity 0.2s;
}

.offf {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  transition: opacity 0.4s;
}

.slid input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slid-button {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #383838;
  transition: 0.4s;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slid-button:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 175px;
  left: 3px;
  bottom: 2.5px;
  background-color: #282828;
  transition: 0.4s;
  border-radius: 15px;
}

input:checked + .slider-button {
  background-color: #000;
}

input:checked + .slid-button:before {
  transform: translateX(169px);
  background-color: #282621;
}

input:checked + .slid-button .on {
  opacity: 1;
}

input:checked + .slider-button .off {
  opacity: 1;
}
@media screen and (max-width: 1360px) {
  .table {
    visibility: hidden;
  }
}
@media (min-width: 1600px) and (max-width: 1720px) {
  .table {
    width: 550px;
    max-height: 870px;
  }
}
/* @media screen and (max-width: 1800px) {
  .table {
    visibility: hidden;
  }
} */
@media (min-width: 1600px) and (max-width: 1920px) {
  .table {
    min-height: 870px;
    width: 550px;
  }
}
