.table {
  max-height: 620px;
  color: #00ced1;
  box-shadow: 0px 0px 2px 2px #00ced1;
  border-radius: 5px;
  position: absolute;
  top: 5em;
  right: 1em;
  width: 480px; /* adjust as needed */
  height: 100%;
}
.custom-tog {
  width: 480px;
  max-width: 100%;
  height: 50px;
  border-radius: 5px;
}
.head{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.totals {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.betss {
  margin-right: auto;
  margin-left: 10px;
}

.prev {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
  width: 120px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid #fff;
}
.clock{
  margin-left: 5px;
  color: gray;
}
.hand{
  margin-left: 15px;
  font-size: 11.5px;
  color: gray!important;
}
.tab {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
.count{
  color: #00ced1;
}
.betting{
  height: 30px;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  align-items: center;
}
.select{
  width: 80px;
  border-radius: 5px;
  background-color: #181818;
  color: gray;
  outline: none;
}

.tab td {
  padding: 8px 5px;
  text-align: center;
  border-bottom: 1px solid #000;
}

.tab th {
  /* background-color: #f2f2f2; */
  color: #333;
  border-bottom: 1px solid gray;
  padding: 5px;
}
.tab tr{
  color: white!important;
}

.tab tr:hover {
  background-color: #181818;
}

@media screen and (max-width: 1360px) {
  .table {
    visibility: hidden;
  }
}
@media (min-width: 1600px) and (max-width: 1720px) {
  .table {
    width: 550px;
    max-height: 870px;
  }
}
@media (min-width:1600px) and (max-width: 1850px) {
  .table {
    visibility: hidden;
  }
}
@media (min-width: 1600px) and (max-width: 1920px) {
  .table {
    min-height: 870px;
    width: 550px;
  }
}
